---
BasedOnStyle: Microsoft
IndentWidth: 2
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true

AlignArrayOfStructures : Right
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
PackConstructorInitializers: Never
---
Language: CSharp